@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Palatino Linotype', sans-serif;
  font-size: 1.15em;
}
body{
  margin:0px;
  background-color: rgb(223, 251, 251);
  
}
.container{
    max-width:800px;
    margin:auto;
    text-align:center;
    padding-bottom: 50px;
}
.navbar--main{
    display:flex;
    background-color:bisque;
    padding:20px 0;
    justify-content: space-between;
    
}
.navbar--item{
   text-decoration: none; 
   color:black;
   font-style: bold;
   font-size:1.3em;
   margin:10px;
}
.link{
  text-decoration:underline;
  color:black;
}
.description__wrapper{
 max-width: 100%;

}
.description__detail{
  max-width:1000px;
  margin:auto;
  text-align:center;
  display:flex;
  align-content:space-between;
  margin:15px 0;
}
.description-image{
  margin-right:2em;
  padding:15px 0;
  
}
.description__paragraph{
  align-self:center;
  padding:35px;
  font-size: 0.9em;
}
footer{
  background-color: bisque;
  padding:30px 0;
  max-width: 100%;
  text-align: center;
}
.photo{
 border-radius: 15px;
}

ul {
  display: flex;
  flex-wrap:wrap;
}
li{
  margin: 17px;
  padding:20px;
  border-radius:8px;
}
li {
  list-style-type: none;
}

li:nth-child(1) {
  background-color: lightgreen;
}

li:nth-child(2) {
  background-color: lightblue;
}

li:nth-child(3) {
  background-color: yellowgreen;
}

li:nth-child(4) {
  background-color: pink;
}

li:nth-child(5) {
  background-color: orange;
}

li:nth-child(6) {
  background-color: limegreen;
}

